[Unit]
Description=Astrid minimalistic content integration server
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/network/home/astrid/.local/bin/astrid 
User=astrid
Restart=on-failure
; Give user some time to fix wrong configuration
RestartSec=10

[Install]
WantedBy=multi-user.target
