[fykos26]
path=/home/fksgit/data/fykos26.git
users=fykos,repo
build_usr=fksgit
build_cmd=make
build_args=all 

[fykos25]
path=/home/fksgit/data/fykos25.git
users=fykos,repo
build_usr=fksgit
build_cmd=make
build_args=all 

[vyfuk2]
path=/home/fksgit/data/vyfuk2.git
users=fykos,vyfuk,repo
build_usr=vyfuk
build_cmd=make
build_args=all 

[vyfuk1]
path=/home/fksgit/data/vyfuk1.git
users=fykos,vyfuk,repo
build_usr=vyfuk
build_cmd=make
build_args=all 

