<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	{% if user %}<p>User: {{user['name']}} <a href={{url_for('logout')}}>Logout</a></p>{% endif %}
{% block content %}{% endblock %}
</body>
</html>
