{% extends "base.html.jinja" %}
{% block title %}{{repo}}{% endblock %}
{% block content %}
<h1>Directory listing for {{path}}</h1>
<table>
	<thead>
		<tr>
			<th>File</th>
			<th>Size</th>
			<th>Last modified</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="..">../</a></td>
			<td></td>
			<td></td>
		</tr>
		{% for dir in dirs %}
		<tr>
			<td><a href="{{dir[0]}}/">{{dir[0]}}/</a></td>
			<td>{{dir[1]}}</td>
			<td>{{dir[2]}}</td>
		</tr>
		{% endfor %}
		{% for file in files %}
		<tr>
			<td><a href="{{file[0]}}">{{file[0]}}</a></td>
			<td>{{file[1]}}</td>
			<td>{{file[2]}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
